@keyframes confetti-fall {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(200%);
        opacity: 0;
    }
}

.confetti {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #FF69B4; /* Random color for confetti */
    animation: confetti-fall 2s infinite linear;
    opacity: 0;
    transform-origin: center center;
}

.confetti:nth-child(odd) {
    background-color: #32CD32; /* Green confetti */
}

.confetti:nth-child(even) {
    background-color: #FFD700; /* Yellow confetti */
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
    height: 100%;
}
